/*-------------AUTO THEME-----------*/
/* light theme */
:root {
	--text: #000;
	--bg: #f2f2f2;
	--bg-block: #fff;
	--bg-contrast: #222222;
	--text-link: #007A7A;
	--text-link-hover: #009899;
	--text-code: #005C00;
	--text-red: #a80000;
	--text-orange: #CC3500;
	--block-shadow: rgba(0, 0, 0, 0.1);
	--system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--text: #fff;
		--bg: #121212;
		--bg-block: #222222;
		--bg-contrast: #f2f2f2;
		--text-link: #0fffff;
		--text-link-hover: #1FFFFF;
		--text-code: #00ff00;
		--text-red: #FF3D3D;
		--text-orange: #FF3F00;
		--block-shadow: rgba(255, 255, 255, 0.1);
	}
}

body {
	font-family: var(--system-ui);
	/* font-size: 18px; */
	/* max-width: 800px; */
	margin: 0em auto;
	padding: 0em;
	line-height: 1.6;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: var(--bg);
	color: var(--text);
}


/*-------------CUSTOM TEXT FORMATTING-----------*/
a {
	color: var(--text-link);
}

a:link,
a:visited {
	/* background-color: #f44336; */
	color: var(--text-link);
	text-decoration: none;
	/* padding: 15px 25px;
 	 text-align: center;
 	 display: inline-block; */
}

a:hover,
a:active {
	color: var(--text-link-hover);
}

.creditmedia {
	color: var(--text);
	font-style: italic;
	text-align: center;
	font-size: 90%;
}

.indent {
	text-indent: 30px;
}

/* .indent a:hover {
	text-decoration: underline;
} */

ul,
ol {
	text-indent: 0px;
	padding-left: 30px;
}

h1 {
	text-align: center;
	color: var(--text-link);
}

img,
embed,
object,
video {
	height: auto;
}

img,
video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

img.zoom:hover {
	transform: scale(2, 2);
}


/* code formatting */
code {
	background: var(--bg-block);
	color: var(--text-code);
	padding: 4px;
}

/* codeblock formatting. <pre><code> will drag the code block to full width */
pre {
	white-space: pre-wrap;
	background: var(--bg-block);
	display: block;
	padding: 4px;
}


/* center shits */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/* width: 50%; */
}

/* review star color https://www.w3schools.com/howto/howto_css_star_rating.asp */
.checked {
	color: orange;
}

/*-------------TOP NAVBAR-----------*/
/* https://www.w3schools.com/howto/howto_css_topnav_right.asp */
/* Create a top navigation bar with a grey background color  */
.topnav {
	background-color: #333;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a,
.topnav span {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 110%;
	display: block;
}

.topnav-txt {
	float: left;
	padding: 10px 10px;
	color: #f2f2f2;
	font-size: 110%;
}

/* Add an active class to highlight the current page */
.topnav a.active,
.topnav span.active {
	background-color: #00FFFF;
	color: black;
	text-decoration: none;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
	float: right;
}

/* Change the color of links on hover */
.topnav-right a:hover,
.topnav-right span:hover {
	background-color: #FED766;
	color: black;
}

/* Hide the hamburger on the topnav on big screens */
.topnav .tophamburger {
	display: none;
}

/* When the screen is less than [specified] pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
	.topnav {
		position: static;
	}

	.topnav-txt,
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav span.tophamburger {
		float: right;
		display: block;
	}

	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive span.tophamburger {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}


/*--------------------BREADCRUMBS-----------------------*/
/* Style post breadcrumbs */
ul.breadcrumb {
	padding: 4px 10px;
	list-style: none;
	background-color: var(--bg);
	color: var(--text);
}

/* Display list items side by side */
ul.breadcrumb li {
	display: inline;
	font-size: 90%;
}

/* Add a symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
	padding: 6px;
	color: var(--text);
	content: "›";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: var(--text-link);
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: var(--text-link-hover);
	text-decoration: underline;
}


/* Responsive layout - makes the image columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.column {
		width: 100%;
	}
}

/* https://css-tricks.com/a-perfect-table-of-contents-with-html-css */
/* table of content */
.toc-list,
.toc-list ul {
	list-style-type: none;
}

.toc-list {
	padding: 0;
}

.toc-list ul {
	padding-inline-start: 2ch;
}

.visually-hidden {
	clip-path: inset(100% 0% 0% 0%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.toc-list>li>a {
	font-weight: bold;
	margin-block-start: 1em;
}

.toc-list li>a>.page {
	min-width: 2ch;
	font-variant-numeric: tabular-nums;
	text-align: right;
}

.toc-list li>a>.title {
	/* position: relative; */
	overflow: hidden;
}

.toc-list li>a .leaders::after {
	position: absolute;
	padding-left: .25ch;
	content: " . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . . . . ";
	text-align: right;
}


/* flexbox formatting - for post lists */
.post-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 16px;
	margin: 10px 5px;
}

.posts>h2 {
	margin: 4px;
	font-size: 110%;
}

.posts>p {
	margin: 4px;
	color: var(--text);
}

.posts {
	background-color: var(--bg-block);
	/* border: 1px; */
	/* border-radius: 5px; */
	flex: 1;
	/* min-width: 800px; */
	padding: 4px;
	align-items: stretch;
	text-align: left;
	transition: box-shadow 0.2s ease;
}

.posts:hover {
	box-shadow: 0 0px 8px var(--block-shadow);
}

.posts a {
	color: var(--text-link);
	text-decoration: none;
	display: block;
	margin-top: 10px;
}


/* https://www.w3schools.com/css/css3_flexbox.asp */
/* flexbox formatting - for horizontally centered boxes */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
	font-size: 90%;
}

.shortcuts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;
	margin: 10px 5px;
}

.shortcut {
	background-color: var(--bg-block);
	flex: 1;
	/* max-width: 150px; */
	padding: 10px;
	text-align: center;
	transition: box-shadow 0.3s ease;
}

.shortcut:hover {
	box-shadow: 0 0px 8px var(--block-shadow);
}

.shortcut>h3 {
	margin: 4px;
	font-size: 90%;
}

/* Responsive layout - makes a one column layout */
@media (max-width: 800px) {
	.shortcuts {
		flex-direction: column;
		align-items: stretch;
		gap: 10px;
	}

	.shortcut {
		/* max-width: 800px; */
		padding: 4px;
	}
}


/* other formattings */
.bodyy {
	max-width: 800px;
	margin: 0em auto;
	padding: 4px;
	margin-top: 48px;
	/* Add a top margin to avoid content overlay for fixed header */
}

.bodyy a:hover {
	text-decoration: underline;
}

/* remove underline from bodyy/div (class=post-list)/a in post lists */
.bodyy>div.post-list>a:hover {
	text-decoration: none;
}

img,
video {
	width: 75%;
}

/* when on mobile, img video stuff full width */
@media screen and (max-width: 800px) {
	.bodyy {
		margin-top: 0px;
	}

	img,
	video {
		width: 100%;
	}
}

.widebodyy {
	max-width: 900px;
}

.block {
	display: block;
}


/* icomoon.io */
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.icon-bars {
	width: 0.857421875em;
}

.icon-star {
	width: 0.9287109375em;
	fill: #ffc900;
}


/* align image to the right of text in articles. add this class */
.align-right {
	display: block;
	margin-left: auto;
}


/* https://www.w3schools.com/css/css3_flexbox_responsive.asp */
/* example: */
/* <div class="flex-container">
  <div class="flex-item-left">1</div>
  <div class="flex-item-right">2</div>
</div> */

/* flexbox for article columns */
.flex-container,
.flex-container-uBO-toc {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.flex-item-left {
	flex: 75%;
}

.flex-item-right {
	flex: 25%;
}

.flex-item-half {
	flex: 50%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
	.flex-container {
		flex-direction: column;
	}

	.flex-container-uBO-toc {
		flex-direction: column-reverse;
	}
}