---
---

@import "{{ site.theme }}";

body {
	font-family: "Open Sans", sans-serif;
    background-color: white;
	color: black;
}

/*h1 {
  font-family: Merriweather, serif;
}*/

/* dark mode */
/*.dark-mode {
  background-color: #121212;
  color: white;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color: #D6D6D6;
}

.fa:hover {
  color: black;
}


function ToggleDarkMode() {
	var userTheme = document.body;
	userTheme.classList.toggle("dark-mode");
}*/


/* https://github.com/mahozad/theme-switch*/
theme-switch {
	/*width: 10px;
	padding: 10px;
	background: #333;*/
	
	/*
	* There is a special property called --theme-switch-icon-color
	* which you can set, to change the color of the icon (shapes) in the switch.
	* You can even make the color change with animation (for example, on mouse hover);
	* see https://gist.github.com/mahozad/a8114b6145cac721f7652aa7b0732cf6
	*/
	--theme-switch-icon-color: #fff;
}

/* These are applied for the default (light) theme */
/* (or when the toggle is auto, and the OS theme is light) */
html {
	--my-page-background-color: #fff;
	--my-text-color: #000;
}

/* These are applied for the dark theme */
/* (or when the toggle is auto, and the OS theme is dark) */
/* If a property has the same value for light and dark themes, no need to redeclare it here */
html[data-theme="dark"] {
	--my-page-background-color: #121212;
	--my-text-color: #fff;
}

body /* or any selector you want */ {
  background: var(--my-page-background-color);
  color: var(--my-text-color);
}


/*------------------------*/

/* https://www.w3schools.com/howto/howto_css_topnav_right.asp */
/* Create a top navigation bar with a black background color  */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FED766;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #00FFFF;
  color: black;
  text-decoration: bold;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  background-color: #333;
  text-align: center;
}
.topnav-right a {
	color: #333;
}
.topnav-right a:hover {
  background-color: #333;
}


/* center images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


